:root {

--vp-c-brand-1:#111827;

}



body {

font-family:
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Microsoft YaHei",
sans-serif;

}



/* 顶部 */

.VPNav {

backdrop-filter:blur(12px);

}



/* 左侧 */

.VPSidebar {

border-right:1px solid #eee;

}



/* 文章整体 */

.VPDoc .container {

max-width:1200px;

}



/* 文章内容 */

.VPDoc .content {

max-width:900px;

}



/* 首页不要限制 */

.VPHome {

max-width:none;

}



/* 暗黑 */

.dark .VPSidebar {

border-color:#333;

}